{% extends 'base.html' %}
{% load static %}

{% block title %}
Welcome to JALA Academy
{% endblock %}

{% block content %}
<div class="content">
  <h2>Welcome to JALA Academy</h2>
  <p>The world's best up-skilling academy</p>

  <p>Do you want to learn Selenium/Cucumber Automation completely with practical scenarios in 7 days? Use this website to find all the scenarios in one place.</p>

  <p>To understand or test RESTful APIs, use the JALA Academy FREE live APIs. Search on Google with the keyword <strong>"JALA Academy Postman APIs"</strong>.</p>

  <p>You learn everything by doing projects if you're serious about getting a software job in 90 days:
     <a href="http://jalatechnologies.com" target="_blank">jalatechnologies.com</a>
  </p>

  <p>Don't forget to read our website JALA Academy completely to know more opportunities.</p>

  <div class="highlight">
    If you're a working professional, up-skill with JALA Academy's Job Guarantee Programs to keep your job secure for 10 years.
  </div>

  <div class="copy_right">
    Copyright © 2025 JALA Technologies. All rights reserved.
  </div>
</div>
{% endblock %}